<!doctype html>
<html lang="en" ng-app="visconnectDemos">
<head>
    <meta charset="utf-8">
    <title>VisConnect</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="list-styles.css" rel="stylesheet" />
    <!--<link href="styles.css" rel="stylesheet" />-->
    <!--<link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <!--<script src="blocks-demo.js"></script>-->
    <script src="list.js"></script>


</head>
<body ng-controller="visconnectDemosListController">

<div id="wrapper">

    <h1>VisConnect</h1>

    <p>
        This is the website for <a href="https://github.com/michaschwab/VisConnect" target="_blank">VisConnect</a>, a JavaScript library for collaborative visualizations.
        The website is under construction and instructions for how to use VisConnect will be added soon.
    </p>
    <p>
        For now, please take a look at our interaction demos and example gallery!
    </p>

    <h2>Interaction Demos</h2>

    <a ng-repeat="demo in interactions" class="demo-preview" href="{{demo.blockid}}/">

        {{demo.name}}
        <img src="{{demo.imgUrl}}" width="133" />

    </a>
    <br style="clear: both" />

    <h2>Examples Gallery</h2>

    <a ng-repeat="demo in examples" class="demo-preview" href="{{demo.blockid}}/">

        {{demo.name}}
        <img src="{{demo.imgUrl}}" width="133" />

    </a>
    <br style="clear: both" />
    <!--

    <table>
        <tbody><tr valign="top">
            <td width="25%">Box Plots<br><a href="/4061502"><img width="133" src="https://camo.githubusercontent.com/24fc9f957d2d3b3a4f23b7aa49c8c1ad1a8e6b84/687474703a2f2f64336a732e6f72672f65782f626f782e706e67" data-canonical-src="http://d3js.org/ex/box.png"></a>
            </td>
            <td width="25%">Bubble Chart<br><a href="/4063269"><img width="133" src="https://camo.githubusercontent.com/dbaf877e0e81e571ae42fa1f6e1115bf052f72ca/687474703a2f2f64336a732e6f72672f65782f627562626c652e706e67" data-canonical-src="http://d3js.org/ex/bubble.png"></a>
            </td>
            <td width="25%">Bullet Charts<br><a href="/4061961"><img width="133" src="https://camo.githubusercontent.com/490b4c309e5ecb769b3969bed04b3b49bf516065/687474703a2f2f64336a732e6f72672f65782f62756c6c65742e706e67" data-canonical-src="http://d3js.org/ex/bullet.png"></a>
            </td>
            <td width="25%">Calendar View<br><a href="/4063318"><img width="133" src="https://camo.githubusercontent.com/bc2b1c93d21e80d23c99da8ebd59617e94581327/687474703a2f2f64336a732e6f72672f65782f63616c656e6461722e706e67" data-canonical-src="http://d3js.org/ex/calendar.png"></a>
            </td>
        </tr>
        <tr valign="top">
            <td>Non-contiguous Cartogram<br><a href="/4055908"><img width="133" src="https://camo.githubusercontent.com/2e049fa2c568399a4bb5d190b6e178fbabcd323b/687474703a2f2f64336a732e6f72672f65782f636172746f6772616d2e706e67" data-canonical-src="http://d3js.org/ex/cartogram.png"></a>
            </td>
            <td>Chord Diagram<br><a href="/4062006"><img width="133" src="https://camo.githubusercontent.com/cc8ad10f5975dff97a5d6801269f8203101b20b9/687474703a2f2f64336a732e6f72672f65782f63686f72642e706e67" data-canonical-src="http://d3js.org/ex/chord.png"></a>
            </td>
            <td>Dendrogram<br><a href="/4063570"><img width="133" src="https://camo.githubusercontent.com/e1a1948f0bcfa095d54793afd3ab96af97731773/687474703a2f2f64336a732e6f72672f65782f636c75737465722e706e67" data-canonical-src="http://d3js.org/ex/cluster.png"></a>
            </td>
            <td>Force-Directed Graph<br><a href="/4062045"><img width="133" src="https://camo.githubusercontent.com/d7b97d7c0873e949f827918763174efcca6c4a5f/687474703a2f2f64336a732e6f72672f65782f666f7263652e706e67" data-canonical-src="http://d3js.org/ex/force.png"></a>
            </td>
        </tr>
        <tr valign="top">
            <td>Circle Packing<br><a href="/4063530"><img width="133" src="https://camo.githubusercontent.com/428c04c95f2a18ce7178d9d6135f1eab8df10ebd/687474703a2f2f64336a732e6f72672f65782f7061636b2e706e67" data-canonical-src="http://d3js.org/ex/pack.png"></a>
            </td>
            <td>Population Pyramid<br><a href="/4062085"><img width="133" src="https://camo.githubusercontent.com/50b7a4e7dde966c373c0e4d24bd8ec9629600ad5/687474703a2f2f64336a732e6f72672f65782f706f70756c6174696f6e2e706e67" data-canonical-src="http://d3js.org/ex/population.png"></a>
            </td>
            <td>Stacked Bars<br><a href="/3943967"><img width="133" src="https://camo.githubusercontent.com/df07db20685c0d417539705bd096d8ea9ccff48a/687474703a2f2f64336a732e6f72672f65782f737461636b2e706e67" data-canonical-src="http://d3js.org/ex/stack.png"></a>
            </td>
            <td>Streamgraph<br><a href="/4060954"><img width="133" src="https://camo.githubusercontent.com/3cbc8c7898d1336e83e499cb66274c15e63f65bf/687474703a2f2f64336a732e6f72672f65782f73747265616d2e706e67" data-canonical-src="http://d3js.org/ex/stream.png"></a>
            </td>
        </tr>
        <tr valign="top">
            <td>Sunburst<br><a href="/4063423"><img width="133" src="https://camo.githubusercontent.com/1415e2af369262e466534480edbc7baa883e5b58/687474703a2f2f64336a732e6f72672f65782f73756e62757273742e706e67" data-canonical-src="http://d3js.org/ex/sunburst.png"></a>
            </td>
            <td>Node-Link Tree<br><a href="/4063550"><img width="133" src="https://camo.githubusercontent.com/e646acd936244a6db8a140fb0e1e421d95b97d8e/687474703a2f2f64336a732e6f72672f65782f747265652e706e67" data-canonical-src="http://d3js.org/ex/tree.png"></a>
            </td>
            <td>Treemap<br><a href="/4063582"><img width="133" src="https://camo.githubusercontent.com/e6612268ca90a8c2f6d1da62f85d7d86616c37de/687474703a2f2f64336a732e6f72672f65782f747265656d61702e706e67" data-canonical-src="http://d3js.org/ex/treemap.png"></a>
            </td>
            <td>Voronoi Diagram<br><a href="/4060366"><img width="133" src="https://camo.githubusercontent.com/8b8bb466c9e6bdeae752ecab321227d2dced4546/687474703a2f2f64336a732e6f72672f65782f766f726f6e6f692e706e67" data-canonical-src="http://d3js.org/ex/voronoi.png"></a>
            </td>
        </tr>
        <tr valign="top">
            <td></td>
            <td></td>
            <td></td>
            <td>Epicyclical Gears<br><a href="/1353700"><img width="133" src="https://camo.githubusercontent.com/522f9a478f783080a15bbde7a42b39c2adf601ee/687474703a2f2f64336a732e6f72672f65782f67656172732e706e67" data-canonical-src="http://d3js.org/ex/gears.png"></a>
            </td>
        </tr>
        <tr valign="top">
            <td>Choropleth<br><a href="/4060606"><img width="133" src="https://camo.githubusercontent.com/0afefbc191693b8ecaea58cda0b587a908fc0174/687474703a2f2f64336a732e6f72672f65782f63686f726f706c6574682e706e67" data-canonical-src="http://d3js.org/ex/choropleth.png"></a>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr valign="top">
            <td>Particles<br><a href="/1062544"><img width="133" src="https://camo.githubusercontent.com/b138ce1aef787e9827eab741f61aee0324bbe242/687474703a2f2f64336a732e6f72672f65782f7061727469636c65732e706e67" data-canonical-src="http://d3js.org/ex/particles.png"></a>
            </td>
            <td>Indented Tree<br><a href="/1093025"><img width="133" src="https://camo.githubusercontent.com/2d9b849269d67d5ccb59e742986976d8d7a340c5/687474703a2f2f64336a732e6f72672f65782f696e64656e7465642d747265652e706e67" data-canonical-src="http://d3js.org/ex/indented-tree.png"></a>
            </td>
            <td>Rounded Rect<br><a href="/1123639"><img width="133" src="https://camo.githubusercontent.com/6cdd3bd2f3fcdc8b2b11f8d9836dcefd3dc00008/687474703a2f2f64336a732e6f72672f65782f726f756e6465642d726563742e706e67" data-canonical-src="http://d3js.org/ex/rounded-rect.png"></a>
            </td>
            <td>Tadpoles<br><a href="/1136236"><img width="133" src="https://camo.githubusercontent.com/0d881b13f9428b913ba0332b46f9747f89542d7a/687474703a2f2f64336a732e6f72672f65782f737065726d2e706e67" data-canonical-src="http://d3js.org/ex/sperm.png"></a>
            </td>
        </tr>
        <tr valign="top">
            <td>Showreel<br><a href="/1256572"><img width="133" src="https://camo.githubusercontent.com/7f5f47a6eae66b32291e86b17f2c96b438a2d549/687474703a2f2f64336a732e6f72672f65782f73686f772d7265656c2e706e67" data-canonical-src="http://d3js.org/ex/show-reel.png"></a>
            </td>
            <td>Euro Debt<br><a href="/1308257"><img width="133" src="https://camo.githubusercontent.com/363eb6780cc3bad481e85161c98bdd0c3b04c4b0/687474703a2f2f64336a732e6f72672f65782f646562742e706e67" data-canonical-src="http://d3js.org/ex/debt.png"></a>
            </td>
            <td>Labeled Force Layout<br><a href="/1377729"><img width="133" src="https://camo.githubusercontent.com/d5244235a87c55b9062c4dfcab6603e1e61e826a/687474703a2f2f64336a732e6f72672f65782f666f7263652d6c6162656c732e706e67" data-canonical-src="http://d3js.org/ex/force-labels.png"></a>
            </td>
            <td>Circle-Square Illusion<br><a href="/1386444"><img width="133" src="https://camo.githubusercontent.com/08f5eca8f232fad1499f824b0e85721f2bfa2cd5/687474703a2f2f64336a732e6f72672f65782f696c6c7573696f6e2e706e67" data-canonical-src="http://d3js.org/ex/illusion.png"></a>
            </td>
        </tr>
        <tr valign="top">
            <td>Voronoi Picking<br><a href="/1405439"><img width="133" src="https://camo.githubusercontent.com/5aba1607a06f0eaa4b739a3e4db9ca01f980d203/687474703a2f2f64336a732e6f72672f65782f766f726f6e6f692d7069636b65722e706e67" data-canonical-src="http://d3js.org/ex/voronoi-picker.png"></a>
            </td>
            <td>Zoomable Map<br><a href="/2206590"><img width="133" src="https://camo.githubusercontent.com/b87b915673eab9545175d058095e23bec188a306/687474703a2f2f64336a732e6f72672f65782f6d61702d7a6f6f6d2e706e67" data-canonical-src="http://d3js.org/ex/map-zoom.png"></a>
            </td>
            <td>Raindrops<br><a href="/849853"><img width="133" src="https://camo.githubusercontent.com/aa90391f97b94023fa8fd006164ffaf84d5de5ff/687474703a2f2f64336a732e6f72672f65782f7261696e2e706e67" data-canonical-src="http://d3js.org/ex/rain.png"></a>
            </td>
            <td></td>
        </tr>
        </tbody></table>
    -->

</div>

</body>
</html>


