<!doctype html>
<html lang="en" ng-app="visconnectDemos">
<head>
    <meta charset="utf-8">
    <title>VisConnect</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="website.css" rel="stylesheet" />
    <!--<link href="styles.css" rel="stylesheet" />-->
    <!--<link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <!--<script src="blocks-demo.js"></script>-->
    <script src="examples.js"></script>
    <script src="list.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />

</head>
<body ng-controller="visconnectDemosListController">
<div id="wrapper">

    <header id="header">
        <h1>VisConnect: Live Collaboration Online</h1>

        <video autoplay muted width="100%" height="300" loop poster="http://dummyimage.com/320x240/ffffff/fff">
            <source src="planarity.mp4" type="video/mp4" />
        </video>
    </header>

    <nav class="content">
        <span>Links:</span>

        <a target="_blank" href="https://osf.io/ut7e6/">
            <i class="fas fa-file-alt"></i>
            Research&nbsp;Paper
            <span>@ IEEE VIS 2020</span>
        </a>

        <a ng-click="copyBibtex()" href>
            <i>{}</i>
            Paper&nbsp;Citation
            <span>Copy BibTex</span>
        </a>

        <a target="_blank" href="https://youtu.be/clfEkpN5Fc4">
            <i class="fas fa-video" style="font-size: 14px; top: 18px"></i>
            Research&nbsp;Talk
            <span>@ IEEE VIS 2020</span>
        </a>

        <a target="_blank" href="https://github.com/michaschwab/VisConnect">
            <i class="fab fa-github"></i>
            GitHub&nbsp;Project
            <span>Code & Docs</span>
        </a>

    </nav>

    <h2 class="content">What's VisConnect?</h2>
    <div id="intro" class="content">
        <div id="visconnect-overview-img"></div>
        <div id="description">
            With minimal effort, VisConnect allows website and visualization creators to add
            live collaboration. <br /><br />
            VisConnect synchronizes pointer events, like click and touch, across collaborators, so
            that they share a common workspace. It allows each element to be modified by one person
            at a time.
        </div>
    </div>
    <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZaRTw5k4sdk?rel=0"
                style="border: none"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>

    <h2 class="content">How to Use</h2>
    <div class="content instructions">
        To use VisConnect, simply include the the script tag on your website:

        <xmp><script src="https://unpkg.com/visconnect/visconnect-bundle.js"></script></xmp>

        <p>After including the script tags in your HTML, VisConnect will automatically inject the
            collaboration interface.</p>
        <p>To start collaborating, click the VisConnect logo on the bottom right and a custom link
            will be copied to your clipboard. Send this link to anyone you want and wait for them to
            join. Once connected all your interaction events one SVG elements should be
            synchronized!</p>

        <div style="text-align:center"><img src="https://i.imgur.com/LfjnzeO.gif"/></div>

        <p>Those are all the basics for using VisConnect. For more examples and a fuller introduction,
            please take a look at our
            <a href="https://github.com/michaschwab/VisConnect" target="_blank">GitHub repo</a>.
        </p>
    </div>

    <h2 class="content">Interaction Demos</h2>
    <div class="content demos-list">
        <a ng-repeat="demo in interactions" class="demo-preview" href="demos/{{demo.blockid}}/">
            {{demo.name}}
            <img src="{{demo.imgUrl}}" width="133" />
        </a>
    </div>

    <h2 class="content">Examples Gallery</h2>
    <div class="content demos-list">
        <a ng-repeat="demo in examples" class="demo-preview" href="{{demo.blockid}}/">
            {{demo.name}}
            <img src="{{demo.imgUrl}}" width="133" />
        </a>
    </div>

    <h2 class="content">Team</h2>
    <div class="content demos-list team">
        <a ng-repeat="author in authors" class="demo-preview" href="{{author.url}}" target="_blank">
            {{author.first}}<br />
            {{author.name}}
            <img src="{{author.imgUrl}}" width="110" />
        </a>
    </div>
</div>

</body>
</html>


