

.demo-preview {
    display: block;
    width: 140px;
    height: 140px;
    float: left;
    color: #666;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
}

.demo-preview:hover {
    background: #eee;
}
