body {
    background: #f5f5f5;
    padding: 0;
    margin: 0;
}

#wrapper {
    width: 980px;
    margin: auto;
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 10px #ddd;
}

@media(max-width: 1000px) {
    #wrapper {
        padding: 0;
        width: 100%;
    }
}

@media(max-height: 500px) {
    #wrapper {
        padding: 0;
    }
}

#header {
    position: relative;
    height: 300px;
}
#header video {
    position: absolute;
    top: 0;
}
#header h1 {
    z-index: 10;
    position: absolute;
    background: rgba(255,255,255,0.9);
    text-align: center;
    width: 100%;
    color: #333;
    top: 25px;
    border: 1px solid #eee;
    border-right-width: 0;
    border-left-width: 0;
}
nav a {
    padding: 7px 12px 7px 34px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    height: 40px;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}
nav a:hover {
    background: #fff;
    border-color: #aaa;
}
nav a i {
    font-size: 20px;
    top: 15px;
    position: absolute;
    left: 8px;
    font-style: normal;
}

nav a span {
    font-size: 14px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 7px;
    top: 30px;
}

#intro {
    margin-top: 20px;
    width: 100%;
}
#intro #description {
    width: 40%;
    float: left;
    font-size: 18px;
    padding-top: 30px;
}
#visconnect-overview-img {
    background: url(visconnect-collab.png) no-repeat;
    background-position-x: 100px;
    background-size: 80%;
    width: 60%;
    height: 200px;
    float: left;
}